body {
  background-color: #f0f0f0;
}


.seccion{
  background-color: white;
  border-radius: 10px;
  padding: 5px;
}

.texto_space {
  white-space: pre-line;
}

.img{
  max-height: 80vh;
  object-fit: contain;
}

/* .masonry {
  column-count: 3;
  column-gap: 0.5rem;
}

.img-masonry{
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.cardMaso{
  display: inline-block;
  width: 100%;
  margin-bottom: 0.5;
  break-inside: avoid;
} */